h1
{
    text-align: center;
}
section
{
    display: flex;
    justify-content: center;
}
.pacman
{
    /*position: absolute;*/
    background: url('/img/pacman4.gif');
}
.sol
{
    background: url('/img/sol.gif');
}
.mur
{
    background: url('/img/mur.gif');
}
.bonbon
{
    background: url('/img/bonbon.gif');
}