/* BALISES */

h1
{   
    font-size: 30px;
    position: absolute;
    margin-left: 350px;
}
.h1
{
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows:  repeat(22, 40px);
    grid-template-columns:  repeat(19, 40px);
}
section
{   
    display: flex;
    justify-content: center;
}

/* OBJETS */

.pacman
{
    background: url('/img/pacman4.gif');
}
.fantome
{
    background: url('/img/fantome0.gif');
}
.fantome2
{
    background: url('/img/fantome1.gif');
}
.fantome3
{
    background: url('/img/fantome2.gif');
}
.fantome4
{
    background: url('/img/fantome3.gif');
}

/* DECORS */

.sol
{
    background: url('/img/sol.gif');
}
.mur
{
    background: url('/img/mur.gif');
}
.bonbon
{
    background: url('/img/bonbon.gif');
}