h1
{
    text-align: center;
}
section
{
    display: flex;
    justify-content: center;
}

.sol
{
    background: url('/img/sol.gif');
}
.mur
{
    background: url('/img/mur.gif');
}
.bonbon
{
    background: url('/img/bonbon.gif');
}